@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'silkscreen';
    src: url('fonts/silkscreen/slkscr-webfont.eot');
    src: url('fonts/silkscreen/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/silkscreen/slkscr-webfont.woff') format('woff'),
         url('fonts/silkscreen/slkscr-webfont.ttf') format('truetype'),
         url('fonts/silkscreen/slkscr-webfont.svg#silkscreennormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background: #ddd;
	color: #eee;
	font-family: silkscreen;
}

#container {
	width: 300px;
	margin: 0 auto;	
}

button {
	padding: 17px;
	font-size: 17px;	
}

#row {
	margin: 5px 0;	
}

input {
	width: 73px;
	padding: 7px;
	font-size: 20px;
	color: #555;
	font-family: silkscreen;
	text-align: center;
	border-radius: 5px;
}

.title {
	
}.title {
	float: left;
	height: 40px;
	width: 73px;
	padding: 11px;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
	margin: 15px auto;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #555; 
	color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

div#theCount {
	font-size: 188px;
	color: #fff;
	background: #333;
	width: 257px;
	padding: 28px 0px;
	text-align: center;
	height: 173px;
	margin: 10px auto;
	border-radius: 5px;
	opacity: .95;
}

.trigger {
	float: left;
	margin-right: 10px;
	font-size: 20px;
	padding: 7px;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
}

#trigger1 {
	background: #440101;	
}

#trigger2 {
	background: #012a44;	
}

#metronomeSounds {
	display: none;
}	

.panel {
	padding: 5px;	
}

#panel1 {
	display: block;	
	background: #440101;
}

#panel2 {
	display: none;	
	background: #012a44;
}

#logo {
	width: 100%;	
	margin-bottom: 20px;
}

h2 {
	color: #fff;
	font-size: 30px;
	text-align: center;
}